  *{
    box-sizing: border-box;
  }
  
  body {
    padding: 0px;
    margin: 0px;
    font-family: 'Press Start 2P', cursive;
  }
  
  #game{
    background-color: white;
    display: flex;
    width: 90%;
  }

  #canvas{
    position: relative;
    width: 60%;
    margin: 20px auto;
  }
  
  .cell{
    display: block;
    position: absolute;
    width: 96px;
    height: 96px;
    border: 1px black solid;
    /*border-color: grey;*/
    /*box-shadow: 0 0 10px grey;*/
    /*box-sizing: border-box;*/
  }

  #container{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 600px;
    justify-content: space-between;
  }
  
  ul{
    font-family: 'Courier New', Courier, monospace;
    list-style: none;
    font-size: 13px;
  }

  h1{
    font-size: 40px;
    margin-bottom: 0px;
  }

  h3{
    margin-bottom: 0px;
  }
 /* 
  p{
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border: 1px black solid;
  }
  */
  p{
    font-size: 12px;
  }

  .play{
    background-color: lightblue;
  }

  .replay{
    background-color: red;
  }

  #gameMessage{
    height: 100px;
  }

  #controls{
    display: flex;
    flex-direction: row;
    align-content: space-around;
  }

  .button{
    font-family: 'Press Start 2P', cursive;
    display: inline-block;
    padding: 8px 16px;
    margin: 2px auto;
    width: 40%;
    align-items:flex-end;
    border: 0;
    cursor: pointer;
    /*background: linear-gradient(to left, #ff713b, #ffa51d);*/
    background-color: lightblue;
    color: black;
    transition: background-color 250ms;
    transform: scale(1);
    transition: transform 250ms;
  }

  .button > a{
    text-decoration: none;
  }

  .button > a:hover{
    font-size: 100%;
  }

  .button:hover {
    /*background: red;*/
    transform: scale(1.1);
}

#timer{
  text-align: center;
}

#timer, #score{
  font-size: 12px;
}

.hero{
  height: 180px;
  width: 60%;
}

#imageHolder{
  display: flex;
  justify-content: space-between;
}

#score{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#gameMessage{
  font-size: 12px;
  background-color: rgb(249, 248, 246);
  color: black;
  vertical-align: middle;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  line-height: 1.4rem;
}

footer{
  margin-top: 20px;
  margin-left: 60px;
  font-size: 6px;
  text-align:justify;
}

a{
  transition: background-color 250ms;
  transform: scale(1);
  transition: transform 250ms;
}

a:hover{
  font-size: 12px;
}
